<html>
<head>
            <style>body {background-color: grey;} </style>
            <h1 style="color:red;","text-align:center;">My To Do List </h1>
            
    
    <lable for="fname"> </lable>
    
           <select id="" name="">
           <option value="html">HTML</option>
           <option value="css">CSS</option>
           <option value="javascript">JAVASCRIPT</option>
           <option value="Bootstrap">BOOTSTRAP</option>
           <input type="submit" value="Enter Todo Item">  </select>
           <br><br>
           <label for="datemax">Due Date:</label>
           <input type="date" id="date" name="date"><br><br>
           <label for="fname"> Task Complated : </label>
           <input type= "checkbox" id= "Iteam1" name= "Iteam1" value= "Task Complated"><br><br>
           <input type="Submit" value="Submit"><br>
         
        </form> 
        
</form>
</head>
<body>
        
</body>
</html>